src/models/train-lainet-original.ipynb
XGMix
.idea/
venv/
gen
models/
published_models/
publish_data/
*.gz
*.rar
data/ref_panel_chr22.vcf
data/ref_panel_map.tsv
data/dataset_train.tsv
data/dataset_test.tsv
data/dataset_main.tsv
data/ch_22_filtered.vcf
data/1kmap.tsv
data/dataset_test.vcf
data/dataset_train.vcf
data/final_test_data
data/final_train_data
data/ref.txt
data/ref_panel.tsv
data/final
prediction
prediction2
*.vcf
